$macaron-green: rgb(182, 228, 96);
$macaron-yellow: rgb(255, 228, 110);
$main-font-color: rgb(43, 43, 43);
$dark-font-color: black;
$links-boxshadow: 0 3px 10px rgb(0 0 0 / 0.2);
$dark-green: rgb(29, 73, 47);
