$pepsi-green: rgb(182, 228, 96);
$macaron-yellow: rgb(255, 228, 110);
$gray-font-color: rgb(43, 43, 43);
$black-font-color: black;
$links-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
$dark-green: rgb(29, 73, 47);
$macaron-green: rgb(153, 232, 177);
$light-grey: rgb(236, 234, 234);
