@import "vars";

.footer {
  height: 10vh;
  display: flex;
  flex-direction: column;
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: $black-font-color;
  }
  &-bottom {
    text-align: center;
    color: grey;
  }
}
