@import "vars";

.navbar {
  height: 10vh;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  &-logo {
    width: 40px;
    height: 40px;
    background-color: $macaron-green;
    margin: 0.5rem;
    padding: 0;
    filter: drop-shadow(1px 1px 1px black);
  }
  &-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    &-links {
      display: flex;
      justify-content: center;
      gap: 15px;
      & a,
      .toggle {
        text-decoration: none;
        color: $black-font-color;
        border-radius: 5px;
      }
    }
  }
}
