.tools {
  min-height: 80vh;
  h2 {
    text-align: center;
    font-size: 2rem;
  }
  &-bmi,
  &-deficits,
  &-energy {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 2rem;
    gap: 10px;
    &-group {
      gap: 10px;
    }
    &-result {
      padding: 1rem;
    }
    &-action {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
    }
    &-level {
      display: flex;
      margin: auto;
      width: 30%;
      justify-content: space-around;
      padding: 2rem;
      align-items: center;
      &-item {
        :hover {
          opacity: 0.6;
        }
      }
    }
    &-text {
      width: 30%;
      margin: auto;
    }
  }
}
