#energy {
  margin: auto;
}

h2 {
  text-align: center;
}

.bmi {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 2rem;
  gap: 10px;
}

.activity,
.sport,
.gender {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
}

.gender {
  margin-bottom: 1rem;
}

.call-to-action {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calculation-result {
  margin-top: 1rem;
  padding: 1rem;
  font-weight: 700;
}

.button {
  gap: 10px;
}
