form {
  width: 50%;
  display:flex;
  flex-direction: column;
  align-content: space-between;
}

.activity, .sport, .gender {
  display:flex;
  justify-content: space-evenly;
  gap: 8px;
}

.gender{
  margin-bottom: 1rem;
}

.call-to-action {
  margin-top: 1rem;
  display:flex;
  flex-direction: column;
  gap: 5px;
}

.calculation-result {
  margin-top: 1rem;
  padding: 0.5rem;
  border: solid 2px rgb(65, 151, 221);
}

.button {
  gap: 10px;
  &-calculate{
    color: black;
    border:grey solid 1px;
    background-color: rgb(120, 172, 43);
    border-radius: 10px;
  }
  &-clear{
    color: white;
    border:grey solid 1px;
    background-color: rgb(219, 65, 96);
    border-radius: 10px;
  }
}