#energy {
  margin: auto;
}
h2 {
  text-align: center;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 2rem auto;
}

.activity,
.sport,
.gender {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
}

.gender {
  margin-bottom: 1rem;
}

.call-to-action {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.calculation-result {
  margin-top: 1rem;
  padding: 0.5rem;
  border: solid 2px rgb(65, 151, 221);
}

.button {
  gap: 10px;
  &-calculate {
    color: black;
    border: grey solid 1px;
    background-color: rgb(194, 240, 185);
    border-radius: 10px;
  }
  &-clear {
    color: rgb(0, 0, 0);
    border: grey solid 1px;
    background-color: rgb(241, 135, 157);
    border-radius: 10px;
  }
}
