@import "vars";

.footer {
  display: flex;
  flex-direction: column;
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &-bottom {
    text-align: center;
    color: rgb(29, 73, 47);
  }
}
