#navbar {
  background-color: rgb(161, 231, 147);
  margin-top: -1rem;
}
.navbar {
  &-links {
    text-decoration: none;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    border-radius: 10%;
    & a {
      text-decoration: none;
      color: black;
    }
    &-pages {
      box-shadow: 0 8px 6px -6px rgb(71, 71, 71);
      padding: 0.4rem 0.8rem;
      align-self: center;
    }
    &-pages:hover {
      background-color: rgb(194, 240, 185);
    }
    &-auth {
      display: flex;
      flex-direction: row;
      padding: 0.5rem;
    }
    &-auth:hover {
      background-color: rgb(240, 252, 135);
    }
  }
}
