.navbar {
  background-color: rgb(161, 231, 147);
}
.navbar {
  padding: 1rem;
  &-links {
    & a {
      text-decoration: none;
      color: rgb(43, 43, 43);
    }
    &-pages {
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      align-self: center;
    }
  }
}


