@import "vars";

.navbar {
  background-color: $macaron-green;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  &-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    & a,
    .toggle {
      text-decoration: none;
      color: $main-font-color;
      border-radius: 5px;
    }
    &-pages {
      box-shadow: $links-boxshadow;
    }
  }
}
