html {
  background-color: rgb(237, 238, 236);
}
body {
  font-family: Roboto, Lato, "Lucida Grande", Tahoma, Sans-Serif;
  background-color: rgb(253, 253, 234);
  color: black;
  width: 80vw;
  margin: auto;
}
