@import "vars";

// LOADER //
.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba($macaron-yellow, 0.2);
  border-left: 1.1em solid $macaron-green;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
  &--hide {
    opacity: 0;
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// GENERALS //
.tools {
  h2 {
    text-align: center;
  }
  &-bmi,
  &-deficits,
  &-energy {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    padding: 2rem;
    gap: 10px;
    &-group {
      gap: 10px;
    }
    &-result {
      padding: 1rem;
      font-weight: 700;
    }
    &-action {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
    }
  }
}
.home {
  width: 80%;
  margin: auto;
  &-title,
  &-subtitle {
    text-align: center;
  }
}
